@font-face {
    font-family: 'prompt';
    src: url(fonts/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'prompt-thin';
    src: url(fonts/static/MerriweatherSans-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: prompt;
}

:root{
    --colorDark1: #112d4e;
    --colorDark2: #3f72af;
    --colorLight1: #dbe2ef;
    --colorLight2: #f9f7f7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-color: #112d4e;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}


.container{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

.lower-container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1.2rem;
}

.upper-container{
    margin-left: 2rem;
}

.parameter{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem 3rem;
    width: 12rem;
    font-size: 1.1rem;
    gap: 0.4rem;
}


.parameter img{
    width:50px;
}


.name{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
    font-size: 2rem;
    margin-bottom: 1rem;
    

}

.name img{
    
    height:30px;
    width: 40px;
}


.user-info-container{
    position: relative;
    margin-top: 3rem;
    opacity: 0;
}

.data-weather-icon{
    width: 70px;
    margin-top: -0.5rem;
}

.weather-desc{
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.temp{
   
    font-size: 2rem;
    font-weight: bold;
}       


h1{
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tab-container{
    margin-top: 1.5rem;
}


.loader{
    position: relative;
}

.loading-container{
    position: absolute;
    left: 35%;
    top: 3.5rem;
}



.loading-container{
    opacity: 0;
}

.active{
    opacity:1;
}

.inactive{
    opacity: 0;
}


.current-location{
    position: absolute;
    top: -9%;
    left: 38%;
}


input{
    background-color: rgba(219, 226, 239, 0.5);
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 3rem;
}

input::placeholder{
    color: var(--colorLight2);
    font-size: 1rem;
    
}

input[type=text]{
    padding-left: 1rem;
    color: var(--colorLight2);
    font-size: 1rem;

}


.btn{

    position: relative;
    all:unset;
    cursor: pointer;
    background-color: var(--colorDark2);
    padding: 0.3rem 0.5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
    
}

.btn img{
    position: relative;
    top:1.8px;
}





.for-error{
    position: absolute;
    opacity: 0;
}


.for-error img{
    width: 500px;
    margin-top: 2rem;
    margin-left: 4rem;
}

.for-error p{

    font-size: 1.5rem;
    position: absolute;
    bottom: 13%;
    left: 22%;
}


.weather-info{
    margin-left:-5%;
}



